html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

#map {
  width: 100%;
  height: 100%;
}

#search {
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 1;
  background-color: rgba(92, 92, 92, 0.8);
}

#search-input {
  border: none;
  background-color: rgba(92, 92, 92, 0);
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#hits {
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#suffix {
  z-index: 10;
  /* height: 70%; */
  min-width: 100px;
  /* width: 20px; */
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: white; */
  top: 10px;
  right: 10px;
  position: fixed;
  padding: 10px;
  color: azure;
}

#github {
  position: fixed;
  bottom: 40px;
  right: 10px;
  background-color: rgba(201, 201, 201, 0.6);
  border-radius: 50%;
  padding: 3px;
}

#github:hover {
  cursor: pointer;
}

#github > a > img {
  width: 20px;
  height: 20px;
}

label {
  display: block !important;
  margin-bottom: 0px !important;
}

.mapboxgl-popup {
  max-width: 400px;
  font-family: 'Courier New', Courier, monospace;
}

.mapboxgl-ctrl-group {
  background: rgb(112, 112, 112) !important;
  border-radius: 0px !important;
}
